a:not(:last-child) {
    padding-right: 50px;
}

a .socialMediaimg {
    transition: transform .5s ease-in-out;
    max-width: 5%;
}

a .socialMediaimg:hover {
    transform: scale(1.5);
    opacity: 0.8;
}
