#home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
}

#home .homeWrapper h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

#home .homeWrapper h1 span{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

#home .homeWrapper p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#home .homeWrapper #socialMediaWrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#home .homeWrapper .callToActionButton {
    position: absolute;
    top: 70%;
    left: 44%;
}